.container-class {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-class {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.tech-era-course-container {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 30px;
}

.tech-era-course {
  font-family: 'Roboto';
  color: #1e293b;
  font-size: 30px;
}
